.random-chord-selector {
  margin: 10px;
}

.tempo-slider {
  width: 100%;
}

.start-stop-button {
  width: 250px;
  height: 42px;
}

.chord-display {
  margin-top: 10px;
}

.chord{
  display: inline-block;
}

.current-chord {
  color: black;
  /*font-size: 4rem;*/
  font-size: 1.2rem;
  font-weight: 500;
  height: 70px;
  /*width: 300px;*/
  width: 105px;
  text-align: center;
  background: rgba(211, 211, 211, 0.25);
  padding-top: 21px;
  border: 1px solid #000;
}

.last-chord-in-group {
  border-right: 6px solid #000;
}

.next-chord {
  margin-left: 10px;
  color: gray;
  font-size: 3rem;
  width: 290px;
  text-align: center;
}
