<h2>Random Chords</h2>

<ngb-alert type="light" [dismissible]="false">
    Select your options and press start!
</ngb-alert>

<ngb-accordion #acc="ngbAccordion" activeIds="">
  <ngb-panel title="Chord Options">
    <ng-template ngbPanelContent>
        <div>
          <div class="random-chord-selector">
            Root Note:
            <ss-multiselect-dropdown [options]="selectedChords" [(ngModel)]="chordOptionsModel" (ngModelChange)="chordChanged($event)" [settings]="multiAnswerSettings"></ss-multiselect-dropdown>
          </div>

          <div class="random-chord-selector">
            Chord Pattern:
            <ss-multiselect-dropdown [options]="selectedChordPattern" [(ngModel)]="chordPatternsModel" (ngModelChange)="qualityChanged($event)" [settings]="multiAnswerSettings"></ss-multiselect-dropdown>
          </div>

          <div class="random-chord-selector">
            Quality of single chords:
            <ss-multiselect-dropdown [options]="selectedQuality" [(ngModel)]="qualityOptionsModel" (ngModelChange)="qualityChanged($event)" [settings]="multiAnswerSettings"></ss-multiselect-dropdown>
          </div>

          <!--<div class="random-chord-selector">-->
            <!--Use enharmonic chord names: FALSE-->
          <!--</div>-->

          <div class="random-chord-selector">
            Number of chords shown:
            <div class="random-chord-selector" id="chordPreviewBox">
              <span id="chordPreviewCount">{{chordPreviewCount}}</span>
              <input class="preview-count-slider" name="ram" type="range" min="1.0" max="120.0" step="1"  [(ngModel)]="chordPreviewCount">
            </div>
          </div>
        </div>
    </ng-template>
  </ngb-panel>
  <ngb-panel title="Metronome Options">
    <ng-template ngbPanelContent>
      <div id="controls">

        <div class="random-chord-selector" id="tempoBox">
          Tempo: <span id="showTempo">{{tempo}}</span> BPM
          <input class="tempo-slider" name="ram" type="range" min="30.0" max="380.0" step="1"  [(ngModel)]="tempo">
        </div>

        <div>
          <div class="random-chord-selector">
            Beats:
            <ss-multiselect-dropdown [options]="selectedBeat" [(ngModel)]="beatOptionsModel" (ngModelChange)="beatChanged($event)" [settings]="singleAnswerSettings"></ss-multiselect-dropdown>
          </div>

            <div class="random-chord-selector">
              Measures Between Chord Change:
              <ss-multiselect-dropdown [options]="selectedMeasureInterval" [(ngModel)]="measureIntervalOptionsModel" (ngModelChange)="measureIntervalChanged($event)" [settings]="singleAnswerSettings"></ss-multiselect-dropdown>
              <span>{{measureIntervalCounter}}/{{measureInterval}}</span>
            </div>
        </div>
      </div>
    </ng-template>
  </ngb-panel>
</ngb-accordion>

<br>

<div><button id="startstop-button" class="btn btn-primary start-stop-button" (click)="play()">{{startStopMessage}}</button></div>

<div class="chord-display">
  <div *ngFor="let currentChord of chordQueue" 
    class="chord current-chord" 
    [ngClass]="{'last-chord-in-group' : currentChord.isLastInGroup}">{{ currentChord.name }}</div>
</div>
