.random-chord-selector {
  margin: 10px;
}

.tempo-slider {
  width: 100%;
}

.preview-count-slider {
  width: 100%;
}

.control-button {
  width: 140px;
  height: 36px;
  margin: 5px;
  background-color: #035eb6;
  border-color: #035eb6;
}

.chord-display {
  margin-top: 10px;
}

.chord{
  display: inline-block;
}

.current-chord {
  color: black;
  font-size: 1.5rem;
  font-weight: 500;
  height: 52px;
  width: 128px;
  text-align: left;
  padding-top: 5px;
  border-left: 1px solid #868e96;
  padding-left: 7px;
  letter-spacing: -1.5px;
  margin-top: 9px;
  margin-bottom: 9px;
}

.highlighted-chord {
  background-color: #faef96;
}

.last-chord-in-group {
  border-right: 5px solid #000;
}

.next-chord {
  margin-left: 10px;
  color: gray;
  font-size: 3rem;
  width: 290px;
  text-align: center;
}

.chords-main {
  margin-bottom:50px;
  margin-top: 50px;
}

.fixed-footer {
  position: fixed;
  height: 50px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px -3px 7px -2px #999;
  background: rgba(211,211,211,0.7);
}

.metronome-container {
  justify-content: center;
  display: flex;
  align-items: center;
  top: 8px;
  position: fixed;
  width: 100%;
  z-index: 2;
  /*Not supported by ie*/
  pointer-events: none;
  /*Added to support ie11*/
  background: none !important;
}

.met-beat {
  margin-top: 20px;
  width: 20px;
  height: 20px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  background: lightgray;
  display: inline-block;
  margin: 7px;
}

.active-met-beat {
  background: #cf6766;;
  -webkit-box-shadow:0 0 20px #cf6766;;
  -moz-box-shadow: 0 0 20px #cf6766;;
  box-shadow:0 0 10px #cf6766;;
}

.measure-counter {
  color: white;
  opacity: .75;
  padding-left: 5px;
  padding-top: 1px;
}

@media screen and (max-width:680px) {
  .chord-display {
    margin-top: 10px;
    margin-left: -8px;
    margin-right: -8px;
  }

  .current-chord {
    color: black;
    font-size: 1.2rem;
    font-weight: 400;
    width: 84px;
    height: 38px;
    text-align: left;
    padding-top: 5px;
    border-left: .5px solid #868e96;
    padding-left: 3px;
    letter-spacing: -1.8px;
    margin-top: 6px;
    margin-bottom: 6px;
  }

  .last-chord-in-group {
    border-right: 3px solid #000;
  }

  h2 {
    font-size: 1.5rem;
  }
}
